@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: Barlow
    overflow-x: hidden
    overflow-y: hidden

.container
    width: 100%
    height: 100vh

    header
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100px
        padding: 38px

    .nav
        display: flex
        align-items: center
        justify-content: space-between
        ul
            width: 60%
            height: 100vh
            position: absolute
            z-index: 10
            top: 0
            right: 0
            background-color: rgba(255, 255, 255, 0.5)
            display: flex
            flex-flow: column
            padding-top: 100px
            padding-left: 50px
            gap: 10px
            backdrop-filter: blur(5px)
            transform: translateX(100%)
            transition: transform 400ms ease-in-out
            li
                list-style: none
                padding-block: 10px
                &.active
                    border-right: 5px solid white
                a
                    text-decoration: none
                    color: white
                    font-size: 18px

        .burger
            z-index: 11

    .nav.show
        ul
            transform: translateX(0)

    .home
        width: 100%
        height: 100vh
        background: url('/assets/Home/a.png'), lightgray 0px 0px / 100% 100%
        background-size: cover
        mix-blend-mode: screen
        display: flex
        align-items: center
        justify-content: center
        color: white
        &-content
            display: flex
            flex-flow: column
            gap: 30px
            padding-inline: 50px
            align-items: center
            text-align: center
            margin-top: 50px
            &-subtitle
                font-size: 14px
                color: #D0D6F9
                letter-spacing: 5px
                text-transform: uppercase
            &-title
                font-size: 80px 
                font-weight: 400
                font-family: Bellefair
                text-transform: uppercase
            &-body
                line-height: 30px
                font-size: 16px
                color: #D0D6F9
            &-explore
                width: 150px
                height: 150px
                background-color: white
                border-radius: 100%
                display: flex
                align-items: center
                justify-content: center
                color: black
                position: relative
                text-transform: uppercase
                z-index: 2
                cursor: pointer
                margin-top: 50px
                a 
                    color: black
                    text-decoration: none
                &:hover::before
                    scale: 2
                &::before
                    transition: scale 500ms ease-in-out
                    content: ''
                    width: 150px
                    height: 150px
                    background-color: rgba(255, 255, 255, 0.2)
                    border-radius: 100%
                    position: absolute
                    z-index: -1